.body {
  flex-grow: 1;
  display: flex;
  background-image: url("../../assets/landingbackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

.body > div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  gap: 1rem;
}

.body p {
  color: white;
}

.body p:first-child {
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

.body button {
  color: white;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0);
  width: auto;
  padding: 0.5rem 2rem;
  justify-items: center;
  border: 2px solid white;
  border-radius: 5px;
}
